---
import Hero from "../components/widgets/Hero.astro";
import { siteConfig } from "../config/site";
import BaseLayout from "../layouts/BaseLayout.astro";
const metadata = {
  title: `${siteConfig.name}`,
  description:
    "Hey, it's Adrian. I build software and tools. This is my little corner of the internet.",
  ignoreTitleTemplate: true,
};
---

<BaseLayout {metadata}>
  <Hero
    title={`Hi, I'm <span class="bg-linear-to-r from-blue-400 via-purple-400 to-pink-400 bg-clip-text text-transparent">Adrian</span>`}
    tagline=""
    description={`${siteConfig.description}`}
    actions={[
      {
        text: "GitHub",
        href: "https://github.com/adrmrt",
        variant: "primary",
        icon: "lucide:github",
      },
      {
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/adrian-martinez-722709237/",
        variant: "primary",
        icon: "lucide:linkedin",
      },
    ]}
  />
</BaseLayout>
